* {
  box-sizing: border-box;
  text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.5);
}
body {
  font-family: sans-serif;
  background: url(img/bg.jpg) center / cover no-repeat fixed;
}
.logo {
  margin: 2rem;
  overflow: hidden;
}
.primary-header {
  align-items: center;
  justify-content: space-around;
}
.primary-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.primary-nav a {
  font-weight: 700;
  margin-inline: 0.7em;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.flex {
  display: flex;
  gap: var(--gap, 2rem);
}
.text-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 16.5rem);
  background: hsla(0, 0%, 0%, 0.15);
  font-weight: 700;
  font-size: 1.625rem;
  color: hsl(0, 0%, 100%);
  padding: 4rem;
}
.phone-img {
  width: 10rem;
  aspect-ratio: 1;
  z-index: 1;
}

.nav-toggle {
  display: none;
}
.nav-toggle[aria-expanded="true"] {
  background: url(img/times.svg) center / cover no-repeat;
}

@media (max-width: 55em) {
  .text-container {
    flex-direction: column;
  }
  .primary-header {
    justify-content: space-between;
  }
  .primary-nav {
    position: fixed;
    inset: 0 0 0 60%;
    gap: 3em;
    padding: min(30vh, 10rem) 2em;
    background: hsla(0, 0%, 15%, 0.8);
    flex-direction: column;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 250ms ease;
    overflow: auto;
  }
  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }
  .nav-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    background: url(img/menu.svg) center / cover no-repeat;
    border: 0;
    right: 2rem;
    z-index: 9999;
    cursor: pointer;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
